@charset "utf-8";
/* CSS Document for media query min-width: 720px */

/* ====================== Basic Page Elements ====================== */
main {
  display: flex;
  flex-wrap: wrap;
}

/* ====================== Navigation ====================== */
nav {
  height: 100px;
}
nav h1 a {
  font-size: 50px;
}
#breadcrumb {
  height: 35px;
}
#breadcrumb li {
  font-size: 20px;
  line-height: 35px;
}
footer {
  font-size: 14px;
}

/* ====================== Map ====================== */
.inside #map-container {
  margin-top: 181px;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 20px 15px;
  width: calc(50% - 40px);
}
.inside #map {
  height: 100%;
  box-shadow: 5px 5px 5px #aaa;
  border: 1px solid #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options h2 {
  font-size: 2em;
  width: 30%;
  text-align: center;
}
.filter-selects {
  width: 70%;
}
#no-results-warning {
  font-size: 30px;
}

/* ====================== Restaurant Details ====================== */
#restaurant-container {
  padding: 20px 20px 15px;
  width: calc(50% - 40px);
  margin-top: 181px;
  border-top: 0;
}
#restaurant-inner-container .lower {
  padding: 0 10px 10px;
}
#restaurant-name {
  font-size: 30px;
  font-weight: bold;
  font-spacing: 3px;
}
#restaurant-cuisine {
  margin-bottom: 0;
}
#restaurant-inner-container {
  display: flex;
  flex-wrap: wrap;
}
#restaurant-hours th, td {
  padding: 12px;
}